.ui {
    margin-left: 275px;
    margin-top: 30px;
    margin-right: 300px;
    box-shadow: 0px 20px 30px rgb(1, 1, 1,2);
}
.oooo{
    background-color: #340655;
    
}
.uk{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.kk{
    color: red;
}